
  <div class="form">
    <%= form_with(model: icicle, local: true) do |form| %>
    <% if icicle.errors.any? %>
    <div id="error_explanation">
      <p class="text-danger"><%= pluralize(icicle.errors.count, "error") %> prohibited this icicle from being saved:</p>

      <ul>
        <% icicle.errors.full_messages.each do |message| %>
        <li><%= message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="form-group">
      <%= form.label :phone %>
      <%= form.number_field :phone %>
      <%= form.label :upload %>
      <%= form.file_field :upload %>
      <%= form.submit %>
    </div>
    <% end %>
  </div>