
<p>
	<strong>Phone:</strong>
	<%= @icicle.phone %>
</p>
<p>
	<strong>Parsed File : </strong>
	<%= link_to( @icicle.upload.filename , @icicle.upload) %>
</p>
<pre><p class="text-info">
	<strong>
		Mapping Used :  
		2 = a b c
		3 = d e f
		4 = g h i
		5 = j k l
		6 = m n o
		7 = p q r s
		8 = t u v
		9 = w x y z
	</strong>
</p></pre>
<p class="text-success"> Desired Output : </p>
<strong>Time Taken (ms) : <p class="text-warning"><%=@time_taken%></p></strong>
<strong><p class="text-success"><%=@desired_result_new%></p></strong>
<br><br>
<%= link_to 'Edit', edit_icicle_path(@icicle) %> |
<%= link_to 'Back', icicles_path %>